body {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.logo {
  margin: 10px;
  min-height: 100px;
  min-width: 100px;
}

.logo>img {
  max-width: 100px;
  max-height: 100px;
}

.ad {
  max-width: 300px;
}

.outer_banner_right {
  height: 1150px;
  width: 300px;
  background-color: brown;
}

.outer_banner_left {
  height: 1150px;
  width: 300px;
  background-color: blueviolet;
}

.main {
  width: 900px;
  height: 1150px;

  display: flex;
  flex-direction: column;
}

header,
footer {
  min-height: 80px;
  border: 2px solid;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

header>p {
  font-size: 25px;
  font-weight: solid;
  color: black;
  font-family: "Gotham-Medium", sans-serif;
  letter-spacing: 0.06em;
}

input {
  width: 200px;
  height: 46px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(83, 80, 80);
  border-radius: 5px;
}

header>input::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  padding-left: 18px;
  font-family: "Gotham-Book-It", sans-serif;
  font-size: 15px;
}

.content_block {
  width: 100%;
  height: 70%;

  display: flex;
  flex-direction: row;

  background-color: azure;
}

.menu {
  min-width: 30%;
  border-left: 2px solid;
  border-right: 2px solid;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu>p {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu>a {
  min-width: 200px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  margin: 5px;
  border-width: 2px;
  border-color: black;
  font-family: "Gotham-Book-It", sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  background-color: lightgreen;
}

.menu>a:hover {
  background-color: rgb(0, 255, 234);
  /* color: rgb(255, 255, 255); */
  transition: 0.8s linear;
}

.menu>button>a:hover {
  color: rgb(255, 255, 255);
}

.text {
  min-width: 40%;
  border-right: 2px solid;

  display: flex;
  flex-direction: column;
}

.about {
  font-size: 35px;
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.info-about {
  margin-top: 0;
  width: 90%;
  color: black;
  font-size: 15px;
  font-family: "Gotham-Medium", sans-serif;
}

.main_part {
  width: 100%;
  height: 70%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.banners {
  width: 100%;
  height: 30%;
  border-top: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
  /* background-image: url("../devs.jpeg"); */
}

.third-block {
  min-width: 28%;
  border-right: 2px solid;

  display: flex;
  flex-direction: column;
}

.news {
  width: 100%;
  height: 70%;
  /* border-bottom: 2px solid; */

  display: flex;
  align-items: center;
  flex-direction: column;
}

.news>p {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 90%;
  padding: 4px;
  margin: 5px;


}


.news>div>p {
  color: black;
  font-size: 15px;
  font-family: "Gotham-Medium", sans-serif;
}

.news>div>a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Gotham-Medium", sans-serif;
}

.news>div>a:hover {
  border-bottom: solid 3px rgb(109, 42, 42);
}


.question {
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background-color: blanchedalmond;
}

.footer_header {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 2px;
}

.footer_info {
  margin: 2px;
  padding: 3px;
}

@font-face {
  font-family: "Gotham-Book-It";
  src: url("D:\Уник\2 курс\4 сем\ВТ\Лабы\Лаба 1\лаба1\styles\fonts\gotham_bookitalic.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("D:\Уник\2 курс\4 сем\ВТ\Лабы\Лаба 1\лаба1\styles\fonts\GothamMedium.otf");
}